<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "" || ((BookCategoryModel []?) ViewData["BookCategories"]) is null) {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Edit book</h2>

    <form class="pure-form" method="post">
        Title: <input type="text" name="title" placeholder="Title" class="form-control" value="@ViewData["title"]" />
        Author: <input type="text" name="author" placeholder="Author" class="form-control" value="@ViewData["author"]" />
        Description: <input type="text" name="description" placeholder="Description" class="form-control" value="@ViewData["description"]" />
        Publisher: <input type="text" name="publisher" placeholder="Publisher" class="form-control" value="@ViewData["publisher"]" />
        ISBN: <input type="text" name="isbn" placeholder="ISBN" class="form-control" value="@ViewData["isbn"]" />
        Publication date: <input type="date" name="publication-date" placeholder="Publication Date" class="form-control" value="@ViewData["publication-date"]" />
        
        Book category: <select name="book-category-id" class="form-control" >
            @foreach (BookCategoryModel category in (ViewData["BookCategories"] as BookCategoryModel[])) { 
                @if (category.BookCategoryId == (int ?) ViewData["book-category-id"]) {
                    <option value="@category.BookCategoryId" selected >@category.Name</option>
                } else {
                    <option value="@category.BookCategoryId" >@category.Name</option>
                }
            }
        </select>

        <br/>
        <br/><input type="submit" value="Edit" class="pure-button pure-button-primary" />
    </form>

    <br/>

    <form class="pure-form" method="post">
        Add new book copy: <input type="submit" name="addnewcopy" value="Add" class="pure-button pure-button-primary" />
    </form>

    <br/>

    <table class="text-center pure-table">
        <thead>
            <tr>
                <th>Book copy id</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["BookCopies"] is not null) {
                foreach (BookCopyModel bookCopy in (ViewData["BookCopies"] as BookCopyModel[])) {
                    <tr>
                        <th>@bookCopy.BookCopyId</th>
                        <th>
                            <a href="/Library/editbookcopy/@bookCopy.BookCopyId">Edit</a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    <br />
}

<h2 class="text-center">@ViewData["EditBookMessage"]</h2>