<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@using MvcLibrary.Controllers

@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "") {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Book list</h2>

    <table class="text-center pure-table">
        <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Publication date</th>
            <br/>
        </tr>
        </thead>
        @if (ViewData["BooksList"] is not null) {
            @foreach (BookDisplayElement item in (ViewData["BooksList"] as BookDisplayElement[])) {
                <tr>
                    <th>@item.BookId</th>
                    <th>@item.Title</th>
                    <th>@item.Author</th>
                    <th>@item.BookCategory</th>
                    <th>@item.Publisher</th>
                    <th>@item.Isbn</th>
                    <th>@item.PublicationDate</th>
                    <th>
                        <a class="nav-link text-dark" href="/Library/editbook/@item.BookId" >
                            Edit
                        </a>
                    </th>
                    <br/>
                </tr>
            }
        }
    </table>
}